@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family:  'Poppins', sans-serif;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 24px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 13%;
    width: 29%;
    height: 100%;
    position: fixed;
}

.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    justify-content: space-between;
}

.nav-links a {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 8px 25px 8px 8px;
    width: fit-content;
}

.nav-links a i {
    font-size: 3rem;
    margin-right: 15px;
}

.nav-links a:hover, .main-account:hover {
    background-color: rgb(47, 51, 54);
    border-radius: 9999px;
}

.nav-links a:first-child {
    padding: 8px 8px;
}

.nav-links a:first-child i {
    margin: 0;
}

.tweet-button {
    background-color: rgb(29, 155, 240);
    width: 90%;
    height: 55px;
    border-radius: 9999px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1.7rem;
    color: white;
    font-weight: 700;
    border: 1px solid black;
    transition-duration: 0.2s;
}

.tweet-button:hover {
    background-color: rgba(29, 155, 240, 0.9);
}

<!---Second part of our projet/--->

.main-account {
    width: 100%;
    height: 30%;
    padding-top: 185px;
}

.main-account a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px 8px 15px;
    margin-right: 10px;
}

.tweet-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
}

.account-details {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    margin-left: 10px;
    font-size: 1.5rem;
    line-height: 20px;
}

.account-name {
    font-weight: 500;
}

.account-handle {
    color: rgb(110, 118, 125);
}

main {
    width: 71%;
    height: 100%;
    margin-left: 29%;
}

.main-flex {
    display: flex;
    width: 100%;
}

.main-feed {
    width: 50%;
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
}

.home-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    padding: 0 15px;
    position: sticky;
    top: 0;
    background-color: black;
}

.new-tweet {
    display: flex;
    width: 100%;
    height: 120px;
    padding: 4px 16px;
}

.new-tweet .tweet-img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.new-tweet-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 4px;
    width: 100%;
    margin-left: 12px;
}

.new-tweet-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}

.new-tweet-actions ul {
    display: flex;
    list-style: none;
}

.new-tweet-details input {
    width: 100%;
    height: 24px;
    background-color: black;
    font-size: 2rem;
    border: none;
    color: white;
    outline: none;
}

.new-tweet-actions ul li {
    margin-right: 12px;
    color: #1c88d2;
    cursor: pointer;
}

.new-tweet-actions .tweet-button {
    width: 75px;
    height: 35px;
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
}

.feed-tweet {
    display: flex;
    width: 100%;
    min-height: 100px;
    padding: 12px 16px 0 16px;
    border-top: 1px solid rgb(47, 51, 54);
    cursor: pointer;
}

.feed-tweet-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 12px;
}