@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family:  'Poppins', sans-serif;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 24px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 13%;
    width: 29%;
    height: 100%;
    position: fixed;
}

.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    justify-content: space-between;
}

.nav-links a {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 8px 25px 8px 8px;
    width: fit-content;
}

.nav-links a i {
    font-size: 3rem;
    margin-right: 15px;
}

.nav-links a:hover {
    background-color: rgb(47, 51, 54);
    border-radius: 9999px;
}

.nav-links a:first-child {
    padding: 8px 8px;
}

.nav-links a:first-child i {
    margin: 0;
}

.tweet-button {
    background-color: rgb(29, 155, 240);
    width: 90%;
    height: 55px;
    border-radius: 9999px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1.7rem;
    color: white;
    font-weight: 700;
    border: 1px solid black;
    transition-duration: 0.2s;
}

.tweet-button:hover {
    background-color: rgba(29, 155, 240, 0.9);
}

<!---Second part of our projet/--->

.main-account {
    width: 100%;
    height: 30%;
    padding-top: 185px;
}

.main-account a {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px 8px 15px;
    margin-left: 10px;
}

.tweet-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
}

.account-details {
    display: flex;
    flex-direction: column;
}